body {
  font-family: Lato, sans-serif;
  background-color: #F5F5F5;
}

h1 {
  text-align: center;
  color: #4a77df;
}

table {
  margin: 10% auto;
}

td {
  padding: 2.5%;
  text-align: center;
}

th {
  font-size: 1.2rem;
}
